<ion-header>
	<ion-navbar>
		<button left menuToggle ion-button small outline color="light">
			<ion-icon menuClose name="menu"></ion-icon>
		</button>
		<ion-title>
			Macroinvertebrates
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<p>Use the menu button above to access sorting filters for the specimens.</p>
	<ion-grid>
		<ion-row>
			<ion-col col-6 *ngFor="let macro of allMacros" class="specimen">
				<div (click)="goToMacroDetailsPage(macro)" id="filter-item" class="item filter-item" *ngIf="(filterWrapper.size == macro.filter_size || !filterWrapper.size) && (filterWrapper.shell == macro.filter_shell || !filterWrapper.shell) && (filterWrapper.legs == macro.filter_legs || !filterWrapper.legs) && (filterWrapper.tail == macro.filter_tail || !filterWrapper.tail) && (filterWrapper.sensitive == macro.filter_sensitivity || !filterWrapper.sensitive)">
				<!-- <div (click)="goToMacroDetailsPage(macro)" id="filter-item" class="item filter-item" *ngIf="(size == macro.filter_size || !size) && (shell == macro.filter_shell || !shell) && (legs == macro.filter_legs || !legs) && (tail == macro.filter_tail || !tail) && (sensitive == macro.filter_sensitivity || !sensitive)"> -->
					<ion-card>
						<img src="./assets/imgs/thumbs/{{macro.thumbnail}}.jpg" />
						<ion-card-content>
							<ion-card-title>
								{{macro.title}}
							</ion-card-title>
						</ion-card-content>
					</ion-card>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
