<ion-header>
	<ion-navbar>
		<ion-title>
			Freshwater Macro invertebrates
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid no-padding>
		<ion-row>
			<div *ngFor="let macro of allMacros">
				<ion-col col-12 (click)="goToMacroDetailsPage(macro)" class="item filter-item" *ngIf="(size == macro.filter_size || !size) && (shell == macro.filter_shell || !shell) && (legs == macro.filter_legs || !legs) && (tail == macro.filter_tail || !tail) && (sensitive == macro.filter_sensitivity || !sensitive)">
					<ion-card>
						<img src="./assets/imgs/thumbs/{{macro.thumbnail}}.jpg" />
						<ion-card-content>
							<ion-card-title>
								{{macro.title}}
							</ion-card-title>
						</ion-card-content>
					</ion-card>
				</ion-col>
			</div>
		</ion-row>
	</ion-grid>


</ion-content>
